<div class="align-items">
<form class="log" action="<%= session_url %>" method="post">
  <input type="hidden" name="authenticity_token" id="" value="<%= form_authenticity_token %>">

  <label for="user_username">Username</label>
  <input class="loginp" type="text" name="user[username]" id="user_username">

  <label for="user_password">Password</label>
  <input class="loginp" type="password" name="user[password]" id="user_password">

  <input class="logbut hvr-shutter-out-horizontal" type="submit" value="Submit"></input>
</form>

  <form class="log" action="<%= session_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="user[username]" value="guest">
    <input type="hidden" name="user[password]" value="password">
    <div>
      <input type="submit" value="Guest Login"></input>
    </div>
  </form>
  <a href="/users/new">Create a new account.</a>
</div>
