<div class="last-game-container col-sm-12">
  <div class="team100-<%=friend.id%> col-sm-6">
    <h4>Red Team:</h4>
  </div>

  <div class="team200-<%=friend.id%> col-sm-6">
    <h4>Blue Team:</h4>
  </div>
</div>
