// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  //background-image: url("/images/background.jpg");
  background-color: black !important;
}

//Layout
.search-input {
  margin-top: 20px;
  #search-name {
    width: 85% !important;
    color: #b9b9b9;
    display: inline-block;
  }
  #search-region {
    margin-top: 5px;
  }
  .find-friend {
    font-size: 10px;
    margin-right: 15px;
    border-radius: 5px;
    display: inline-block;
    width: auto !important;
  }
}
.status-box {
  border: 1px solid white;
  border-radius: 10px;
  background: gray;
  margin-top: 5px;
  padding: 15px;
  .search-status {
    display: block;
  }
  #friend-icon {
    margin-bottom: 15px;
    display: inline-block;
  }
  .search-friend-stats {
    display: inline-block;
    vertical-align: middle;
  }
}
.friend-details {
  font-weight: 900;
}
.status-details {
  font-weight: 900;
  color: green;
}

//Shared
#friend-icon {
  margin-bottom: 15px;
  display: inline-block;
}
.tier-icon {
  height: 60px;
  width: 60px;
  &#BRONZEV {
    background-image: image-url("/images/tiers/tier_icons/bronze_v.png");
    background-size: 60px;
  }
  &#BRONZEIV {
    background-image: image-url("/images/tiers/tier_icons/bronze_iv.png");
    background-size: 60px;
  }
  &#BRONZEIII {
    background-image: image-url("/images/tiers/tier_icons/bronze_iii.png");
    background-size: 60px;
  }
  &#BRONZEII {
    background-image: image-url("/images/tiers/tier_icons/bronze_ii.png");
    background-size: 60px;
  }
  &#BRONZEI {
    background-image: image-url("/images/tiers/tier_icons/bronze_i.png");
    background-size: 60px;
  }
  &#SILVERV {
    background-image: image-url("/images/tiers/tier_icons/silver_v.png");
    background-size: 60px;
  }
  &#SILVERIV {
    background-image: image-url("/images/tiers/tier_icons/silver_iv.png");
    background-size: 60px;
  }
  &#SILVERIII {
    background-image: image-url("/images/tiers/tier_icons/silver_iii.png");
    background-size: 60px;
  }
  &#SILVERII {
    background-image: image-url("/images/tiers/tier_icons/silver_ii.png");
    background-size: 60px;
  }
  &#SILVERI {
    background-image: image-url("/images/tiers/tier_icons/silver_i.png");
    background-size: 60px;
  }
  &#GOLDV {
    background-image: image-url("/images/tiers/tier_icons/gold_v.png");
    background-size: 60px;
  }
  &#GOLDIV {
    background-image: image-url("/images/tiers/tier_icons/gold_iv.png");
    background-size: 60px;
  }
  &#GOLDIII {
    background-image: image-url("/images/tiers/tier_icons/gold_iii.png");
    background-size: 60px;
  }
  &#GOLDII {
    background-image: image-url("/images/tiers/tier_icons/gold_ii.png");
    background-size: 60px;
  }
  &#GOLDI {
    background-image: image-url("/images/tiers/tier_icons/gold_i.png");
    background-size: 60px;
  }
  &#PLATINUMV {
    background-image: image-url("/images/tiers/tier_icons/platinum_v.png");
    background-size: 60px;
  }
  &#PLATINUMIV {
    background-image: image-url("/images/tiers/tier_icons/platinum_iv.png");
    background-size: 60px;
  }
  &#PLATINUMIII {
    background-image: image-url("/images/tiers/tier_icons/platinum_iii.png");
    background-size: 60px;
  }
  &#PLATINUMII {
    background-image: image-url("/images/tiers/tier_icons/platinum_ii.png");
    background-size: 60px;
  }
  &#PLATINUMI {
    background-image: image-url("/images/tiers/tier_icons/platinum_i.png");
    background-size: 60px;
  }
  &#DIAMONDV {
    background-image: image-url("/images/tiers/tier_icons/diamond_v.png");
    background-size: 60px;
  }
  &#DIAMONDIV {
    background-image: image-url("/images/tiers/tier_icons/diamond_iv.png");
    background-size: 60px;
  }
  &#DIAMONDIII {
    background-image: image-url("/images/tiers/tier_icons/diamond_iii.png");
    background-size: 60px;
  }
  &#DIAMONDII {
    background-image: image-url("/images/tiers/tier_icons/diamond_ii.png");
    background-size: 60px;
  }
  &#DIAMONDI {
    background-image: image-url("/images/tiers/tier_icons/diamond_i.png");
    background-size: 60px;
  }
  &#CHALLENGERI {
    background-image: image-url("/images/tiers/base_icons/challenger.png");
    background-size: 60px;
  }
  &#MASTERI {
    background-image: image-url("/images/tiers/base_icons/master.png");
    background-size: 60px;
  }
  &#PROVISIONAL {
    background-image: image-url("/images/tiers/base_icons/provisional.png");
    background-size: 60px;
  }
}

//Add Friend Button
.add-friend {
  display: none;
}

//friends-tiles
#friends-list {
  padding-left: 0px !important;
  .friend-tile {
    margin: 5px;
    color: white;
    background: black;
    border: 1px solid gray;
    border-radius: 10px;
    padding-right: 5px !important;
    padding-top: 10px;
    .avatar-icon {
      border-radius: 100px;
      display: inline-block;
      padding: 0px 5px 5px 5px;
    }
    .categories {
      display: inline-block;
      .name {
        color: #006699;
        display: inline-block;
        font-size: 18px;
      }
      .transform-text {
        text-transform: lowercase;
      }
      .transform-text::first-letter {
        text-transform: uppercase;
      }
    }
    .delete-button {
      top: 10px;
      right: 5px;
      position: absolute;
      float: right;
      cursor: pointer;
      &:hover {
        color: #8E2323;
        border: 1px dotted #FFCCCC;
        border-radius: 20px;
      }
    }
    .delete-friend-backdrop {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.5);
      z-index: 100;
      padding: 30px;
      .delete-friend-container {
        position: relative;
        background-color: white;
        border: 1px solid black;
        border-radius: 5px;
        padding: 5px;
        box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        opacity: 1;
        .delete-friend-content {
          color: black;
        }
        button {
          color: black;
          border: 1px solid black;
          box-shadow:  2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        }
      }
    }

    .last-game-container {
      margin-top: 20px;
    }

  }
}

//BUTTONS
.submit-wrapper {
    margin-top: 20px;
}
.submit-wrapper a {
    border:2px solid #006699;
    color:white;
    padding:20px 25px;
    text-decoration:none;
    position:relative;
    letter-spacing:8px;
    transition:all 0.6s;
    z-index:1;
}
.submit-wrapper a:before,
.submit-wrapper a:after {
    content:"";
    position:absolute;
    top:50%;
    left:0;
    width:24px;
    height:4px;
    background:#006699;
    margin-left:-12px;
    margin-top:-2px;
    transition:all 0.6s;
}
.submit-wrapper a:after {
    left:auto;
    right:0;
    margin-right:-12px;
}
.submit-wrapper a:hover:before,
.submit-wrapper a:hover:after {
    width:100%;
    transition:all 0.6s;
    background:#fff;
    transform:scaleY(5);
    z-index:-1;
}
.submit-wrapper a:hover {
    text-decoration:none;
    background:#006699;
    transition:all 0.6s;
    color:black;
}
